// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.bio-image {
	float: right;
	margin: 10px;
	width: 200px;
}

.bio-imageL {
  float: left;
  margin: 10px;
  width: 200px;
}


ul li {
	margin-left: 30px;
}

.nonVisual {
	display: none
}

.imgL600 {
	float: left;
	margin: 10px;
	width: 600px;
}

.imgL500 {
	float: left;
	margin: 10px;
	width: 500px;
}

.imgL400 {
  float: left;
  margin: 10px;
  width: 400px;
}

.imgL300 {
  float: left;
  margin: 10px;
  width: 300px;
}

.imgL200 {
  float: left;
  margin: 10px;
  width: 200px;
}

.imgR600 {
	float: right;
	margin: 10px;
	width: 600px;
}

.imgR500 {
	float: right;
	margin: 10px;
	width: 500px;
}

.imgR400 {
  float: right;
  margin: 10px;
  width: 400px;
}

.imgR300 {
  float: right;
  margin: 10px;
  width: 300px;
}

.imgR200 {
  float: right;
  margin: 10px;
  width: 200px;
}
